.git/
.github/
.dockerignore
.DS_Store
Brewfile.lock.json
all/config.symlink/configstore/
all/config.symlink/exercism/
all/config.symlink/fish/
all/config.symlink/fisher/
all/config.symlink/gcloud/
all/config.symlink/wireshark/
all/config.symlink/hub
Dockerfile
all/firefox/userjs_backups
all/fish/fisher_plugins/
all/fish/fish_variables
macos/rbenv.symlink/shims/
macos/rbenv.symlink/versions/
*.md
