##### OSX-specific files to ignore

.DS_Store
.AppleDouble
.LSOverride

# Icon must end with two \r
Icon


# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

###### Application/directory-specific files to ignore
# Brew
Brewfile.lock.json

# All directories under rbenv
macos/rbenv/*/
macos/rbenv/version
!macos/rbenv/default-gems

# Maid log file
maid.symlink/maid.log

# Heroku
heroku.symlink/analytics.json

# Restic
macos/restic.symlink/restic.env
macos/restic.symlink/**/*.log

# Fish
all/fish/completions/fisher.fish
all/fish/completions/rustup.fish
all/fish/functions/fisher.fish
all/fish/fisher_plugins/
all/fish/fish_variables

# Sssssh
.secrets