##### OSX-specific files to ignore

.DS_Store
.AppleDouble
.LSOverride

# Icon must end with two \r
Icon


# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

###### Application/directory-specific files to ignore
# Atom
atom.symlink/packages
atom.symlink/storage
atom.symlink/.node-gyp
atom.symlink/.apm
atom.symlink/.npm
atom.symlink/compile-cache
atom.symlink/blob-store
atom.symlink/split-diff

# All directories under rbenv
rbenv.symlink/*/
rbenv.symlink/version
!rbenv.symlink/default-gems

# Maid log file
maid.symlink/maid.log

# Heroku
heroku.symlink/analytics.json

# Restic
restic.symlink/restic.env
restic.symlink/**/*.log