.git/
.github/
.dockerignore
.DS_Store
Brewfile.lock.json
config.symlink/configstore/
config.symlink/exercism/
config.symlink/fish/
config.symlink/fisher/
config.symlink/gcloud/
config.symlink/wireshark/
config.symlink/hub
Dockerfile
firefox/userjs_backups
fish/fisher_plugins/
fish/fish_variables
private/
rbenv.symlink/shims/
rbenv.symlink/versions/
*.md
