"*":
  "atom-beautify":
    bash: {}
    general:
      _analyticsUserId: "6e08afdd-69fc-48a9-b30c-967e47bf6864"
    go:
      beautify_on_save: true
      default_beautifier: "goimports"
      disabled: true
    gohtml:
      beautify_on_save: true
  core:
    disabledPackages: [
      "linter-rubocop"
      "language-git"
      "open-on-github"
      "cson"
      "language-hcl"
      "language-liquid"
      "language-mustache"
      "language-objective-c"
      "language-perl"
      "language-typescript"
    ]
    telemetryConsent: "limited"
  editor:
    showInvisibles: true
  "exception-reporting":
    userId: "7c730ce2-d1a5-4f86-aadd-1a86c3570dae"
  "file-icons":
    coloured: false
  "git-diff": {}
  "go-plus":
    test:
      runTestsWithVerboseFlag: true
  "linter-rubocop":
    command: "/Users/lildude/.rbenv/shims/rubocop"
  "linter-ui-default":
    panelHeight: 207.5
  "markdown-preview":
    useGitHubStyle: true
  "one-dark-ui":
    fontSize: 11
  "spell-check":
    locales: [
      "en-GB"
    ]
  "tree-view":
    hideVcsIgnoredFiles: true
  welcome:
    showOnStartup: false
".gotemplate.source":
  editor:
    showIndentGuide: false
